<h1>Title: <%= @post["title"] %></h1>
<h3>About: <%= @post["body"] %></h3>
<h3>Posted by: <%= @post["user"]["username"] %></h3>
<h4><%= @post["main_picture"] %></h4>
<h4>Link: <%= @post["link"] %></h4>



<a href="/client/posts/<%= @post['id'] %>/edit">Edit</a><br> 
<a href="/client/posts/<%= @post['id'] %>" data-method="delete">Delete Post</a>
<br>
<br>
<a href="/client/posts"> Back to Home </a>



